<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="static/style.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {%include 'includes/sidebar.jinja' %}

    <div class="px-4 py-4 ml-64">
          {% block content %}{% endblock %}
    </div>
  </body>
</html>
