<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {%include 'includes/sidebar.jinja' %}

    <div class="px-8 py-4 sm:ml-64">
          {% block content %}{% endblock %}
    </div>
  </body>
</html>
