{% extends 'base.jinja' %} {% block title %}Becker Screenshot Autocropper{% endblock %} {% block header %}
<h1>Becker Screenshot Autocropper</h1>
{% endblock %}

{% block content %}
<div>
  Hello World
</div>
{% endblock %}
